<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/home.css') }}">
    <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/recipe.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@1,700&family=Open+Sans:ital,wght@1,400;1,800&display=swap" rel="stylesheet"> -->
</head>
<body>
    <div>
    <h1>La Petite Cheffe </h1>
    <h4> "Good Eats are made with real ingredients"</h4>
    </div>

    <h2> Please log in or create an account!</h2>
    
    <nav class="nav-bar">
        <form method="POST" action="/login">
         <button> Log in Here</button>
        </form>
        <form method="POST" action="/sign-up">
        <button> Sign Up </button>
        </form>
    </nav>
</body>
</html>