<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find a Recipe</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/recipe.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@1,700&family=Open+Sans:ital,wght@1,400;1,800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="meal-wrapper">
            <div class="meal-search">
                <h1 class="title">Recipes For Your Ingredients</h1>
                <blockquote> Real food are made with real ingredients </blockquote>
                <form action="/search" method="post" class="meal-search-box">
                    <input type="text" class="content" placeholder="Search an Ingredient" id="search-input" name="search"/>
                    <button type="submit" class="search-btn" id="btn-search"><svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1.1" viewBox="0 0 16 16" height="1em" 
                        width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path 
                        d="M15.504 13.616l-3.79-3.223c-0.392-0.353-0.811-0.514-1.149-0.499 0.895-1.048 1.435-2.407 1.435-3.893 0-3.314-2.686-6-6-6s-6 2.686-6 6 2.686 6 6 6c1.486 0 2.845-0.54 3.893-1.435-0.016 0.338 0.146 0.757 0.499 1.149l3.223 3.79c0.552 0.613 1.453 0.665 2.003 0.115s0.498-1.452-0.115-2.003zM6 10c-2.209 0-4-1.791-4-4s1.791-4 4-4 4 1.791 4 4-1.791 4-4 4z">
                    </path>
                    </svg></button>
                </form>
            </div>

            <div class="meal-results">
                <h2 class="title"> Your Search Results:</h2>
                <div id="meal">

                    <!-- <div class="meal-item">
                        <div class="meal-image">
                            <img src="{{recipe.image}}" width="100%">
                        </div> -->
                        <div class="meal-name">
                            <h3>Recipe results for {{ recipe.title }} </h3>
                            {% if recipe %}
                                  <h2>{{ recipe.title }}</h2>
                                  {% if recipe.image %}
                                    <img src="{{ recipe.image }}" alt="{{ recipe.title }}" width="200" height="200">
                                  {% endif %}
                                  {% if recipe.instructions %}
                                    <h3>Instructions:</h3>
                                    <div>
                                        <p> Ready in {{ recipe.readyInMinutes }} mins! </p>
                                        <p> Serving : {{ recipe.servings }} </p>
                                        {% if recipe.analyzedInstructions %}
                                        <!-- <ul>
                                            <li> {{ recipe.ingredients }}</li>
                                        </ul> -->
                                        {{ recipe.instructions|safe }}
                                        {% endif %}   
                                    </div>
                                  {% endif %}
                            {% else %}
                            <p>No results found.</p>
                          {% endif %}
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
<!-- <script src="recipe.js"></script> -->
</html>